/* ESCONDIDO NO DESKTOP */
.footerNav {
  display: none;
}

/* MOBILE INSTAGRAM */
@media (max-width: 768px) {
  .footerNav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;

    background: #000;
    border-top: 1px solid #222;

    justify-content: space-around;
    align-items: center;

    z-index: 999;
  }

  .item {
    flex: 1;
    height: 100%;
    display: grid;
    place-items: center;

    background: none;
    border: none;

    color: #888;
    cursor: pointer;
  }

  .item span {
    font-size: 1.6rem;
  }

  .active {
    color: #fff;
  }
}